@{
    ViewData["Title"] = "Bookings";
}
<h1>@ViewData["Title"]</h1>

@model List<Booking>

<table class="table table-sm table-striped table-bordered table-hover">

    <thead>
        <tr>
            <th>Group Name</th>
            <th>Size of Group</th>
            <th>Email Address</th>
            <th>Phone Number</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var b in Model)
        {
        <tr>
            <td>@b.GroupName</td>
            <td>@b.GroupSize</td>
            <td>@b.Email</td>
            <td>@b.Phone</td>

            <td>
                <NavLink class="btn btn-warning btn-sm" href="">Edit</NavLink>    @*@GetEditUrl(b.BookId)*@
            </td>

            <td>
                <button class="btn btn-danger btn-sm">Remove</button>   @*@onclick="@(x => RemoveBook(b))"*@
            </td>

        </tr>
        }
    </tbody>

</table>
